<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}

</head>

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header_right">
                        <figure class="iam">
                            <img src="./images/me.png (2).jpeg" alt="rahul" class="img-fluid" title="rahul maity">
                        </figure>



                    </div>
                    <div class="col-md-6 col-12 main-header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a<span class="text_clr" > CSE Student </span>Love Creating Websites</h1>
                        <a href="https://www.linkedin.com/in/rahul-maity-432a70215/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right side div -->

                </div>

            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>

</html>